<h1>To Do</h1>

<p>Here are all your tasks:</p>

<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action="/tasks" method="post">
  <div class="form-group">
    <label for="description">Task Description</label>
    <input id="description" name="description" type="text" class="form-control">
  </div>


  <button type="submit" class="btn btn-lg btn-success">Add task</button>
</form>
